body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  background-position: center top;
  background-repeat: repeat-y;
  min-width: 1040px;
  width: auto !important; }

#wrapper {
  position: relative;
  overflow: hidden;
  background: url("../img/background.jpg");
  background-position: center;
  min-width: 1040px;
  width: auto !important;
  border: 12px solid #ffff00;
  width: 1040px; }
  #wrapper #wrapper_inner {
    width: 980px;
    background: #fff;
    margin: 0 auto; }
    #wrapper #wrapper_inner .left {
      float: left; }
    #wrapper #wrapper_inner afp://10.1.0.10/shared {
      float: right; }
    #wrapper #wrapper_inner #header {
      clear: both;
      height: 54px;
      width: 980px;
      padding-top: 20px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      position: relative; }
      #wrapper #wrapper_inner #header h1 {
        margin-left: 30px; }
      #wrapper #wrapper_inner #header .sns {
        right: 30px;
        bottom: 23px; }
    #wrapper #wrapper_inner #contents {
      width: 760px;
      margin: 0 auto; }
      #wrapper #wrapper_inner #contents .column {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 100%;
        margin-bottom: 100px; }
        #wrapper #wrapper_inner #contents .column h3 {
          margin-bottom: 20px; }
        #wrapper #wrapper_inner #contents .column .mode {
          margin-bottom: 60px; }
        #wrapper #wrapper_inner #contents .column #movie {
          margin-top: 25px;
          width: 766px;
          height: 442px;
          background: url("../img/movie_background.jpg") no-repeat; }
          #wrapper #wrapper_inner #contents .column #movie iframe {
            margin: 12px; }
        #wrapper #wrapper_inner #contents .column p.step {
          float: left;
          margin-right: 49px; }
          .en #wrapper #wrapper_inner #contents .column p.step {
            margin-right: 33px; }
        #wrapper #wrapper_inner #contents .column p.last {
          margin-right: 0 !important; }
      #wrapper #wrapper_inner #contents .top {
        margin-top: 35px; }
      #wrapper #wrapper_inner #contents .bottom {
        margin-bottom: 35px; }
        #wrapper #wrapper_inner #contents .bottom .right {
          float: left;
          margin-left: 40px; }
    #wrapper #wrapper_inner #footer {
      width: 980px;
      padding: 0 0 50px 0;
      background: url("../img/bottom_background.gif");
      position: relative; }
      #wrapper #wrapper_inner #footer .left {
        padding: 67px 0 0 40px; }
      #wrapper #wrapper_inner #footer .right {
        margin: 68px 37px 0 0;
        position: relative; }
        #wrapper #wrapper_inner #footer .right .sns {
          right: 0px; }

#carrousel .main {
  width: 945px;
  padding-left: 35px; }

#carrousel .nav a.prev,
#carrousel .nav a.next {
  position: absolute; }

#carrousel .nav a.prev {
  margin-left: 50px;
  margin-top: 220px; }

#carrousel .nav a.next {
  margin-left: 890px;
  margin-top: 220px; }

#carrousel .box {
  float: left;
  width: 913px; }

#carrousel .indicator div {
  float: left;
  background-color: #333;
  margin-top: 5px;
  margin-right: 5px;
  width: 10px;
  height: 10px; }

#carrousel .indicator div,
#carrousel .nav a {
  cursor: pointer; }

#carrousel .indicator div.current {
  background-color: #4383fb !important; }

.lang {
  width: 69px;
  height: 37px;
  padding: 0 18px 0 0;
  border-right: 2px solid #000000;
  position: absolute;
  right: 240px;
  bottom: 18px; }
  .lang li {
    float: left;
    padding: 0 7px 0 8px;
    line-height: 37px; }
    .lang li img {
      margin: 13px 0 0 0; }
    .lang li a {
      display: block;
      height: 100%; }
      .lang li a:hover img {
        opacity: 1.0; }
      .lang li a img {
        opacity: 0.55; }

.sns {
  width: 180px;
  position: absolute; }
  .sns li {
    float: left;
    overflow: hidden; }
    .sns li.sns-twitter {
      width: 100px; }
    .sns li.sns-facebook {
      width: 80px; }

.credit-list {
  font-size: 0.85em; }
  .credit-list dt {
    padding: 24px 0 16px 0; }
  .credit-list li {
    float: left;
    padding: 0 15px 13px 0; }

.banner-list {
  padding: 22px 0 0 0; }
  .banner-list li {
    float: left;
    width: 87px;
    padding: 0 9px 0 0; }
    .banner-list li.last {
      padding: 0 0 0 14px;
      border-left: 2px solid #ffffff; }

.note {
  padding: 270px 0 0 0;
  text-align: right; }
  .note .caution {
    padding: 0 0 17px 0; }
.no-js .en #wrapper {
}
